apiVersion: apps/v1
kind: Deployment
metadata:
  name: talk-realm
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: talk-realm
        env:
        - name: ENVIRONMENT
          value: "local"
        - name: LOG_LEVEL
          value: "debug"
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
