apiVersion: v1
kind: Service
metadata:
  name: talk-realm
  labels:
    app: talk-realm
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: talk-realm
