apiVersion: apps/v1
kind: Deployment
metadata:
  name: talk-realm
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: talk-realm
        env:
        - name: ENVIRONMENT
          value: "dev"
        - name: LOG_LEVEL
          value: "info"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
