name: Go

on:
  pull_request:
    branches:
      - main
      - master
      - release/v*
      - test-workflow-main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
          only-new-issues: true

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Test
        run: go test -v -race -failfast ./...
